
// Media Queries
$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$small-up: $screen !default;
$small-only: "#{$screen} and (max-width: 640px)" !default;

$medium-up: "#{$screen} and (min-width: 640px)" !default;
$medium-only: "#{$screen} and (min-width: 640px) and (max-width: 1024px)" !default;

$large-up: "#{$screen} and (min-width: 1440px)" !default;
$large-only: "#{$screen} and (min-width: 1024px) and (max-width: 1420)px" !default;

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-size: 1.3rem;
  color: #2d2a2f;
  height: 100%;
}

#root {
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.txt-gray {
  color: #676769;
}

.cv-page {
  padding: 1.5rem;
  gap: 1.5rem;
  max-width: 1920px;
  .cv-personal {
    background: #eaeaea;
    padding: 1.5rem;
  }
}

.abc {
  background: red;
}

.cv-list {
  .cv-title {
    margin: 20px 0 0 0;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.8;
    a {
      font-weight: normal;
      font-size: 1.3rem;
      color: #5488c7;
    }
    + .cv-title {
      margin: 0;
    }
    + .cv-list {
      margin-top: 20px;
    } 
  }
  .list-txt {
    display: flex;
    gap: 5px;
    &:before {
      content: "-";
      display: block;
    }
  }
  li {
    line-height: 1.5;
    + li {
      margin-top: 5px;
    }
  }
}

.cv-box-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 18px;
  text-decoration: underline;
}

.cv-myself {
  .cv-avatar {
    max-width: 40rem;
  } 
  .cv-name {
    margin: auto;
    font-size: 2rem;
  }
  .cv-introduction {
    padding: 20px 0;
    line-height: 1.8rem;
  }
}

.cv-box-grid {
  $cols: 12;
  $rows: 5;
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  @media #{$small-up} {
    @for $i from 1 through $cols {
      .box-sm-#{$i} {
        grid-column: span #{$i};
      }
    }
  }
  @media #{$medium-up} {
    height: 100%;
    grid-template-rows: repeat($rows, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    @for $i from 1 through $cols {
      .box-md-#{$i} {
        grid-column: span #{$i};
      }
    }
  }

  @media #{$large-up} {
    @for $i from 1 through $cols {
      .box-lg-#{$i} {
        grid-column: span #{$i};
      }
    }
  }

  @for $i from 1 through $rows {
    .box-h-#{$i} {
      grid-row: span #{$i};
    }
  }
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
